# Environment
venv/
.env
.env.local
.claude

# DB
*.json
*.txt
kakaobrain-kornli
Ko-StrategyQA
kosentences
kobest

# Model
Base_Models/
base_models/
ToW_Models/
ToW_Models_2/
gpt_oss/
Llama3:1_8B_Instruct/
DeepSeek_R1_Distill_Llama_70B/
DeepSeek_R1_0528_Qwen3_8B/
deepseek-r1-distill-qwen-7b/
Qwen2.5-7B-Instruct_downloaded/

HRM8K_TEXT
GRAPH

# KLUE Datas
klue_all_tasks_json/
benchmarks/
korean_stories/
koconovel/

# KLUE Models
Evaluation/
klue_dp_results/
klue_dst_results/
klue_mrc_results/
klue_ner_results/
klue_nli_results/
klue_re_results/
klue_sts_results/
klue_tc_results/


__pycache__

# RESULT FILES
mmlu_baseline*
mmlu_tow_model*
kmmlu_baseline*
kmmlu_tow_model*